@bg_gray: #e5e5e5;



/** General */  
    .store_root{
        max-width: 100%;
        width: 100%;
        margin: 0;


        .store_row{
            padding: 16px 0px;
        }

    }


/** Breadcrumb */    
    #store_breadcrumb_container{
        margin: 10px 0px 0px;
        padding-left: 5%;
        background-color: #ffffff;
        text-transform: uppercase;
        font-weight: bold;

        .breadcrumb-item.breadcrumb-item::before{
            content: ">";
            padding-right: .5rem;
            color: #6c757d;
        }
    }


/** Categories */
    #categories.store_root{
        #store_categories_container.store_row{
            padding: 30px;
            background-color: @bg_gray;
        
            .store_cat_col{
                .store_cat_image{
                    min-height: 90px;
                    aspect-ratio: 16/9;
                    margin: 16px;
                    background-color: white;
                    border-radius: 4px;
                }
                .store_cat_title{ 
                    display: inline-block;
                    width: 100%;            
                    text-transform: uppercase;
                    text-align: center;
                }
            }
        }
    }


/** Product list */
    #products.store_root{
        #products_container.store_row{
            padding: 30px;
            background-color: @bg_gray;

            #filter_container{
                padding: 16px;
                background-color: #f5f5f5;
            }
        }

        // Filter form
            .storeProd_filter_accordion {
                border: none;
                background-color: transparent;

                .accordion-item{ 
                    margin: 12px auto;
                    border: none;

                    .accordion-header .accordion-button{ 
                        border: none;
                        background-color: transparent;
                        color: #333;
                        &:hover{ background-color: rgba(75, 255, 255, .1);}
                    }
                }
            }
            .storeFilter_checkboxLabel {
                cursor: pointer;
                padding: 4px 8px;

                &:hover{ background-color: rgba(0, 255, 255, .1);}
                span { padding-left: 8px; }
            }

            .storeProd_filter_btn{
                width: 100%;
                margin: 10px auto;
            }

        // Product list
        .store_prod_item{
            display: inline-block;
            width: 300px;
            margin: 16px;

            .store_prod_image{
                width: 300px;
                height: 236px;
                background-color: white;
                border-radius: 8px;
                text-align: center;
            }

            .store_prod_label{
                width: 300px;
                margin: 10px auto;
                text-align: center;
                text-transform: uppercase;

                .store_prod_label_price{
                    color: red;
                }
            }
        }
    }







