
/** [IK] Store Breadcrumb */    
#store_breadcrumb_container{
    margin: 10px 0px 0px;
    padding-left: 5%;
    background-color: #ffffff;
    text-transform: uppercase;

    .breadcrumb_link{
        &:hover{ text-decoration: underline; }
    }
    .breadcrumb_current{
        pointer-events: none;
        cursor: default;
        font-weight: bold;
    }

    i.bi.breadcrumb_spacer{
        padding: 0px .5rem;
        color: #333;
    }
}