
.herocarousel__image{
    width: 190vh;
    height: 70vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    justify-content: center;
    
}

.carousel-inner {
        text-align: center;
        height: 100%;
        position: relative;
        background: var(--color-bg);
        
   
}

.carousel-caption {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.carousel-indicators [data-bs-target] {
    background-color: var(--color-primary-variant);

}

