.mySwiper {
    margin-top: 2rem;
}

.prod__title {
    font-size: 28px;
    font-weight: 500;
    padding-top: 1rem;
    margin-left: 2rem;
}

.top__prod {
    display: inline-flexbox;
    flex-direction: column;
    text-align: center;
    color: var(--color-primary);
    padding-bottom: 2rem;
}

.top__prodimg img {
    border-radius: 0.5rem;
    width: 20rem;
    height: 12rem;
    
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background: var(--color-primary);
    
}


.swiper-button-next:after,.swiper-button-prev:after {
    color: var(--color-primary);
    font-size:32px !important ;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--color-bg);
    width: 2rem;
    height: 5rem;
    border: none;
    margin-bottom: 3.5rem;
}


.swiper-button-next:after {
    border-radius: 0 0.5rem 0.5rem 0;
}

.swiper-button-prev:after {
    border-radius: 0.5rem 0 0 0.5rem;
}

.tp-price__name {
    display: inline-flex;
    gap: 0.5rem;
}

.tp__price {
    color: var(--color-primary-variant);
}


